{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h5 class="mb-0">网络入侵检测模型介绍</h5>
                    <a href="{% static 'assets/DMSE.pdf' %}" 
                       class="btn btn-primary btn-sm" 
                       target="_blank">
                        <i class="fas fa-download"></i> 下载PDF文档
                    </a>
                </div>
                <div class="card-body p-0">
                    <iframe 
                        src="{% static 'assets/DMSE.pdf' %}" 
                        width="100%" 
                        height="800px" 
                        style="border: none;">
                        <p>您的浏览器不支持PDF查看，请 <a href="{% static 'assets/DMSE.pdf' %}">点击这里下载PDF</a>。</p>
                    </iframe>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
</body>
</html>