{% extends "base.html" %}

{% block title %} 教学实训系统 {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
    <link href="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/css/bootstrap.min.css" rel="stylesheet">
{% endblock stylesheets %}

{% block content %}


<div class="pcoded-content">
        <div class="pcoded-inner-content">
            <div class="main-body">
                <br>
                <div class="page-wrapper">
                        <form method="post" action="">
                            {% csrf_token %}
                            <table class="table table-hover table-bordered text-center font-weight-bold col-center-block" >
                            <thead>
                              <tr>
                                <th colspan="2">密码修改</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td class="table-secondary">原密码</td>
                                <td><input type="password" class="form-control" placeholder="请输入原密码" name="pwd1"></td>
                              </tr>
                              <tr>
                                <td class="table-secondary">新密码</td>
                                <td><input type="password" class="form-control" placeholder="请输入新密码" name="pwd2"></td>
                              </tr>
                              <tr>
                                <td class="table-secondary">确认新密码</td>
                                <td><input type="password" class="form-control" placeholder="请输入确认密码" name="pwd3"></td>
                              </tr>
                              <tr>
                                <td><button type="submit" class="btn btn-primary ">确认修改</button></td>
                              </tr>
                            </tbody>
                            </table>
                        </form>
                </div>
        </div>
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}